html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Orbitron', sans-serif;
    line-height: 150%;
}
body {
    background: url(../img/space4.jpg) fixed;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    /*This tries to avoid the white bar at scolling down with chrome at mobile*/
    min-height:100%;
    height:auto;
}

h1 {
    margin: 25px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.tyTo {
    text-align: justify;
    color: white;
    font-size: 1em;
    border: yellow solid 1px;
    border-radius: 3px;
    border-left: 5px yellow solid;
    padding: 15px;
    background-color: rgba(0, 25, 51, 0.70);
}

h4 {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: white;
}
h6 {
    text-align: center;
    color: yellowgreen !important;
    font-size: 1.7vw;
}

#card-content {
    margin: auto;
    width: 90%;
}

.card {
    background-color: rgba(0, 25, 51, 0.70);
    border: 1px white solid;
}

.card p {
    color: gainsboro;
    text-align: center;
    font-size: 1.4vw;
}

.card small {
    text-align: center;
    color: white;
}

.contentThanks {
    width: 80%;
    margin: auto;
}

.contentThanks h1{
    font-size: 1.7em;
    margin-top: 10%;
}

.contents {
    border: 1px solid yellowgreen;
    border-left: 5px solid greenyellow;
    background-color: rgba(0, 25, 51, 0.70);
    padding: 15px;
    margin-bottom: 5%;
}

ul {
    list-style-type: circle;
    color: white;
}

a:link, a:visited {
    text-decoration: none;
    color: #B3CA1A; 
}

a:hover {
    color: yellow; 
}

hr {
    border-color: yellowgreen;
    background-color: yellowgreen;
    color: yellowgreen;
}

p {
    color: white;
}

.card-footer p {
    color: yellowgreen;
    background: red;
}

/************************************************
VERTICAL
*************************************************/
@media screen and (max-width: 767.5px){

    h4 {
        font-size: 7vw;
        font-weight: bold;
        margin-right: 15px;
        color: white;
    }
    h6 {
        color: yellowgreen !important;
        font-size: 5vw;
    }

    .card p {
        font-size: 4.5vw;
    }

    .col-md-4 {
        margin-bottom: 25px;
    }

    .contentThanks {
        font-size: 3.5vw;
    }
}