body,html {
    height:100%;
    padding:0px;
    margin:0px;
}

* {
    font-family: 'Orbitron', sans-serif;
}
body {
    background: url(../img/space.jpg) no-repeat center center fixed;
}

.modal h3{
    text-align: center;
    padding: 10px;
}

#modal_End span {
    font-weight: bold;
}

.modal li a {
    font-weight: bold;
    font-size: 1.05em !important;
}

.active a{
    background: whitesmoke !important;
}

#set_scores, #set_players, #set_instructions, #set_about, #set_ranking{
    display: none;
}

#set_configuration button{
    width: 25%;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 2%;
    margin-top: 30px;
}

#new_configurationContainer label, #load_configurationContainer label {
    margin-top: 25px;
}
#new_configurationContainer select, #load_configurationContainer select{
    margin-top: 5px;
}
#new_configurationContainer {
    display: none;
}

#table_players span {
    font-style: italic;
    font-weight: bold;
    color: green;
}

a {
    text-decoration: none;
}

.a{
    /*background-color:#00bcd4;*/
    left: 0;
}
.b{
    left: 33.33%;
}
.c{
    /*background-color:#cddc39;*/
    right:0;
    z-index: 2;

}
.a,.b,.c{    
    position: absolute;
    width:33.33%;
    height:100%;
    top:0;
}
.d{
    position:absolute;
    height:15%;
    width:100%;
    bottom:0;
}

#moon {
    height: 100%;
    width: 100%;
}

#rocket{
    text-align:center;
    position:fixed;
    top:10%;
    width:100%;
    height:20%;
    z-index: 1;
}
#rocket img{
    height:100%;
    z-index: 1;
}

/*ControlPanel*/
#cpanel{
    position: absolute;
    top: 7.5%;
    left: 5%;
    height: 85%;
    width: 25%;
    z-index: 2;
}

#liFuel{
    height: 75%;
    width: 75px;
}

#liFuel div {
    position: relative;
    height: 100%;
    width: 100%;
}

#liFuel img {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    bottom: 10px;
    z-index: 1;
}

#fuelContainer {
    height: 100%;
    overflow: hidden;
    border-bottom: solid white 1px;
    border-radius: 35px 35px 5px 5px;
}

#fuelContent {
    background-image: -ms-linear-gradient(bottom, #1EBA28 0%, #B3CA1A 50%, #ED8F24 75%, #C40000 100%);
    background-image: -moz-linear-gradient(bottom, #1EBA28 0%, #B3CA1A 50%, #ED8F24 75%, #C40000 100%);
    background-image: -o-linear-gradient(bottom, #1EBA28 0%, #B3CA1A 50%, #ED8F24 75%, #C40000 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1EBA28), color-stop(50, #B3CA1A), color-stop(75, #ED8F24), color-stop(100, #C40000));
    background-image: -webkit-linear-gradient(bottom, #1EBA28 0%, #B3CA1A 50%, #ED8F24 75%, #C40000 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    border: white solid 1px;
    border-radius: 35px 35px 5px 5px;
}

#cpanel li:not(#liFuel) {
    position: relative;
    background-color: rgba(38, 66, 144, 0.7);
    margin-top: 2vh;
    width: 100%;
    height: 10%;
    border: solid white 1px;
    border-radius: 5px 25px 25px 5px;
}

#cpanel li:not(#liFuel) img {
    position: absolute;
    height: 75%;
    top: 12.5%;
    left: 5px;
}


#cpanel li:not(#liFuel) div{
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

#cpanel li p {
    color: white;
    font-weight: bold;
    font-size: 1.7vw;
    padding-left: 20%;
    display: table-cell;
    vertical-align: middle;
}


#hidem,#showm{
    display:none
}

ul:not(.inst){
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#set_instructions span {
    font-weight: bold;
}

#menu {
    top: 0;
    z-index: 2;
}

#menu li img {
    margin: 5px;
    max-width: 15%;
    float: right;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
#menu li img:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.paused {
    display: none;
}

/************************************************
VERTICAL
*************************************************/
@media screen and (max-width: 750px){
    body,html{height:100%;padding:0px;margin:0px;}
    .a{background-color:#00bcd4;width:100%;height:90px;overflow:hidden;position:fixed;top:0px}
    .b{background-color:red;width:100%;height:100%;overflow:hidden;}
    .c{
        background-color:#cddc39;
        width: 100%;
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        display:none;
        z-index:1
    }
    .d{background-color:pink;position:fixed;bottom:0px;height:10%;width:100%;}
    #rocket{text-align:center;position:fixed;top:10%;width:100%;height:20%}
    #rocket img{height:100%;}
    #cpanel{}
    #hidem,#showm{
        display:block;
        float:right;
    }
}