body,html {
    height:100%;
    padding:0px;
    margin:0px;
}

* {
    font-family: 'Orbitron', sans-serif;
}
body {
    background: url(../img/space.jpg) no-repeat center center fixed;
}

.modal h3{
    text-align: center;
    padding: 10px;
}

#modal_End span {
    font-weight: bold;
}

.modal li a {
    font-weight: bold;
    font-size: 1.05em !important;
}

.active a{
    background: whitesmoke !important;
}

#set_scores, #set_players, #set_instructions, #set_about, #set_ranking{
    display: none;
}

#set_configuration button{
    width: 25%;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 2%;
    margin-top: 30px;
}

#new_configurationContainer label, #load_configurationContainer label {
    margin-top: 25px;
}
#new_configurationContainer select, #load_configurationContainer select{
    margin-top: 5px;
}
#new_configurationContainer {
    display: none;
}

#table_players span {
    font-style: italic;
    font-weight: bold;
    color: green;
}

a {
    text-decoration: none;
}

.a{
    /*background-color:#00bcd4;*/
    left: 0;
}
.b{
    left: 33.33%;
}
.c{
    /*background-color:#cddc39;*/
    right:0;
    z-index: 2;

}
.a,.b,.c{    
    position: absolute;
    width:33.33%;
    height:100%;
    top:0;
}
.d{
    position:absolute;
    height:15%;
    width:100%;
    bottom:0;
}

#moon {
    height: 100%;
    width: 100%;
}

#rocket{
    text-align:center;
    position:fixed;
    top:10%;
    width:100%;
    height:20%;
    z-index: 1;
}
#rocket img{
    height:100%;
    z-index: 1;
}

#cpanel{
    top: 30px;
    left: 30px;
    position: absolute;
    width: 30%;
    z-index: 2;
}

#cpanel li {
    background-color: white;
    position: relative;
    border: 2px solid yellow;
    border-radius: 5px 30px 30px 5px;
    width: 100%;
    height: 60px;
    margin-bottom: 4%;
    z-index: 2;
}

#cpanel li img {
    position: absolute;
    height: 100%;
    padding: 5px;
    z-index: 1;
}

#cpanel li div{
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

#cpanel li div p{  
    font-weight: bold;
    font-size: 1.7vw;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#fuelContainer {
    height: 100%;
    float: right;
}

#fuelContent {
    background: linear-gradient(to left, #33cc33 27%, #ff6600 100%);
    width: 100%;
    height: 100%;
    border-radius: 5px 30px 30px 5px;
}


#hidem,#showm{
    display:none
}

ul:not(.inst){
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#set_instructions span {
    font-weight: bold;
}

#menu {
    background-color: white;
    top: 0;
    z-index: 2;
}

#menu li img {
    margin: 5px;
    max-width: 15%;
    float: right;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
#menu li img:hover{
    transform: scale(1.1);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.paused {
    display: none;
}

/************************************************
VERTICAL
*************************************************/
@media screen and (max-width: 750px){
    body,html{height:100%;padding:0px;margin:0px;}
    .a{background-color:#00bcd4;width:100%;height:90px;overflow:hidden;position:fixed;top:0px}
    .b{background-color:red;width:100%;height:100%;overflow:hidden;}
    .c{
        background-color:#cddc39;
        width: 100%;
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        display:none;
        z-index:1
    }
    .d{background-color:pink;position:fixed;bottom:0px;height:10%;width:100%;}
    #rocket{text-align:center;position:fixed;top:10%;width:100%;height:20%}
    #rocket img{height:100%;}
    #cpanel{}
    #hidem,#showm{
        display:block;
        float:right;
    }
}