<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.PostgresqlListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateConfigurationUser</servlet-name>
        <servlet-class>servlets.CreateConfigurationUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>servlets.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestroyConfigurationUser</servlet-name>
        <servlet-class>servlets.DestroyConfigurationUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetConfigurationsUser</servlet-name>
        <servlet-class>servlets.GetConfigurationsUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetConfigurationUser</servlet-name>
        <servlet-class>servlets.SetConfigurationUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateScoreUser</servlet-name>
        <servlet-class>servlets.CreateScoreUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetScoreUser</servlet-name>
        <servlet-class>servlets.SetScoreUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScoresUser</servlet-name>
        <servlet-class>servlets.GetScoresUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTopRanking</servlet-name>
        <servlet-class>servlets.GetTopRanking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersOnline</servlet-name>
        <servlet-class>servlets.UsersOnline</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateConfigurationUser</servlet-name>
        <url-pattern>/CreateConfigurationUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestroyConfigurationUser</servlet-name>
        <url-pattern>/DestroyConfigurationUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetConfigurationsUser</servlet-name>
        <url-pattern>/GetConfigurationsUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetConfigurationUser</servlet-name>
        <url-pattern>/SetConfigurationUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateScoreUser</servlet-name>
        <url-pattern>/CreateScoreUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetScoreUser</servlet-name>
        <url-pattern>/SetScoreUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScoresUser</servlet-name>
        <url-pattern>/GetScoresUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTopRanking</servlet-name>
        <url-pattern>/GetTopRanking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersOnline</servlet-name>
        <url-pattern>/UsersOnline</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
